@model IEnumerable<TechSupport.Models.Customer>

@{
    ViewBag.Title = "Choose Customer";
}


<div class="table table-responsive">


    <div class="input-group">
        <input type="search" name="id" id="custSearch" class="form-control shadow-none" placeholder="Search" />
        <div class="input-group-append">
            <button class="btn btn-outline-primary" onclick="custSearch()">Search</button>
        </div>
    </div>

    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    <button onclick="getCustName(@item.CustomerID)" class="btn btn-outline-primary">Choose</button>
                </td>
            </tr>
        }

    </table>
</div>